# PANDAS REFERENCE

### Import dependencies

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

### Create a DataFrame

In [ ]:
df1 = pd.DataFrame([{'a': 1, 'b': 2, 'c': 3}, 
                    {'a': 4, 'b': 5, 'c': 6}, 
                    {'a': 7, 'b': 8, 'c': 9}])
df1

### Create a DataFrame specifying index

In [ ]:
df2 = pd.DataFrame([{'a': 1, 'b': 2, 'c': 3}, 
                    {'a': 4, 'b': 5, 'c': 6}, 
                    {'a': 7, 'b': 8, 'c': 9}], index=['Row 1', 'Row 2', 'Row 3'])
df2

### Select a row by number

In [ ]:
df1.ix[0]

### Select a row by index name

In [ ]:
df2.ix["Row 1"]

### Select a column

In [ ]:
df1["a"]

### Select multiple columns
http://stackoverflow.com/questions/11285613/selecting-columns

In [ ]:
df1[["a", "c"]] # But not "b"

### Select a cell by column name and row index

In [ ]:
df1["a"][0]

### Select a cell by column name and row name

In [ ]:
df2["a"]["Row 1"]

### Select multiple rows by indices or index range

### Select a row by cell value

In [ ]:
df1

In [ ]:
df1.loc[df1['a'] == 1]

### Research: Difference between .loc and .ix

In [ ]:
df1.loc[0]

In [ ]:
df1.ix[0]

### Iterate over rows

In [ ]:
for row in df1.iterrows():
    print (row)

### Merge DataFrames

In [ ]:
# ?

### Make a NaN value in Pandas

In [ ]:
s = pd.Series([1, 2, 3])
s[1] = float('nan')
s

### Replace "None" strings with NaN

In [ ]:
df = df.replace("None", np.nan)

### Drop NaN values

In [ ]:
s.dropna()

### Drop a row where all values are NaN

In [ ]:
df = df.dropna(axis=0, how='all', thresh=None, subset=None, inplace=False)

### Convert a column from int to string

In [ ]:
df = df1.applymap(str)
type(df["a"][0])

### Add one column

In [ ]:
df1["d"] = [10, 11, 12]

In [ ]:
df1

### Add columns one by one

In [ ]:
from random import randint
df3 = pd.DataFrame(columns=('lib', 'qty1', 'qty2'))
for i in range(5):
    df.loc[i] = [randint(-1,1) for n in range(3)]

print(df)

### Add a row [messy: research more]

In [ ]:
df2.loc[len(df2)] = [13, 14, 15]
df2

### [Concatenate two DataFrames](http://pandas.pydata.org/pandas-docs/stable/merging.html#concatenating-objects)

In [ ]:
pd.concat([df1, df2])

### Take a sample

In [ ]:
sample = df1[df1.Categories == 1].sample(n=2)
sample

# EXTERNAL INPUT: GETTING FILES, DATABASES, ETC INTO PANDAS

### Create a DataFrame from a local CSV

In [ ]:
# product_descriptions = pd.read_csv('DATA/product_descriptions.csv', header=0, encoding = "ISO-8859-1")

### Create a DataFrame from a CSV on the web

In [ ]:
df = pd.read_csv("http://www.census.gov/popest/data/state/totals/2015/tables/NST-EST2015-01.csv", columns=range(9))
df.head()

### Create a DataFrame from a table copied to clipboard (must first copy to clipboard!)

In [ ]:
copy_pasted = pd.read_clipboard()

### Create a DataFrame from an SQLite database

In [ ]:
conn = sqlite3.connect('/home/MZ/Documents/CODE/THINKFUL/PROJECTS/u3_l3/UN.db')
gdp = pd.read_sql('SELECT * FROM gdp', conn)
indicators = iris = pd.read_sql('SELECT * FROM indicators', conn)
conn.close()
gdp.head()

# OUTPUT

### Output to CSV

In [ ]:
pandas.DataFrame.to_csv("ExampleDataFrame.csv", sep='\t', encoding='utf-8')

### Output to Excel

DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True)

[Docs](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html)